$mainFont: 'Lato', sans-serif;

// Colores
$primary: #f53757;
$grey: rgba(187, 187, 187, 0.561);
$blue: #2061c2;
$light: #FFF;
$dark: #000;

// Media Queries
$movile: 480px;
$tablet: 768px;
$desktop: 1200px;



// Fuentes
$slim: 300;
$regular: 400;
$bold: 700;
$black: 900;


// Separaciones
$separation: 5rem;