$mainFont: 'Lato', sans-serif;

// Colores
$primary: #F53756;
$light: #FFF;
$dark: #000;

// Media Queries
$movile: 480px;
$tablet: 768px;
$desktop: 1200px;



// Fuentes
$slim: 300;
$regular: 400;
$bold: 700;
$black: 900;


// Separaciones
$separation: 5rem;