.about-festival {
    padding: $separation 0;
    @include tablet {
        @include grid(2, $separation/2)
    }
}
.festival-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        font-size: 3rem;
    }
    .date {
        color: $primary;
        font-weight: $bold;
    }

    .text {
        text-align: justify;
        line-height: 1.5;
    }
    
}