.tickets {
    background-color: $primary;
    padding: $separation 0;
    h3 {
        text-align: center;
        color: $light;
    }
    .container-tickets {
        @include tablet {
            @include grid(2, $separation/2);
        }
    }
    .plan {
        p {
            color: $light;
            font-size: 3rem;
            text-align: center;
        }
    }
}

.pass {
    width: 100%;
    border-spacing: 0;
    thead {
        th {
            padding: $separation / 4;
            color: $light;
            text-transform: uppercase;
            font-weight: $slim;
            font-size: 2rem;
        }
    }
    thead, tfoot {
        background-color: $blue;
    }
    tbody {
        background-color: $light;
        td {
            padding: $separation / 4;
            border-bottom: 1px solid $grey;
        }
        tr {
            &:last-of-type {
                td {
                    border-bottom: none;
                }
            }
        }
    }
    tfoot {
        td {
            padding: $separation / 4;
            text-align: center;
            color: $light;
            font-size: 3rem;
        }
    }
}