.video {
    position: relative;
    max-height: 70rem;
    overflow: hidden;
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #2061c278, #8255be78, #bd40a678, #e32e8278, #f5375778);
    }
    video {
        display: block;
        width: 100%;
    }
}
.video-content {
    height: 100%;
    display: flex;
    align-items: center;
    
    h2 {
        color: $light;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 1.3;
        font-size: 2.5rem;
        @include movile {
            font-size: 7rem;
        }
    }
    span {
        background-color: $primary;
        padding: .5rem 1rem;
        font-size: 1.6rem;
        @include movile {
            font-size: 2rem;
        }
    }
}